<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPublisherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23701/PublisherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPublisherService"
                contract="PublisherService.IPublisherService" name="BasicHttpBinding_IPublisherService" />
        </client>
    </system.serviceModel>
</configuration>